.App {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
}

h1, h2, p, button {
  text-align: center;
}

table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}

.user-table-row td {
  padding: 1vh 0.5vw 1vh 0.5vw;
  border-bottom: 1px solid #999999;
}