html,
body,
#root {
    height: 100%;
}

h1,
h2,
p,
button {
    text-align: center;
}

table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.App {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 1em;
    background-color: white;
}

.login-error {
    color: red;
}

.table-row td, th {
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-bottom: 1px solid #999999;
}

.playlists-table-col {
    width: 10vw;
    text-align: center;
}

.songs-table-col {
    width: 8vw;
    text-align: center;
}

.a,
a {
    transition: 0.2s;
    color: goldenrod;
}

.a:hover,
a:hover {
    color: gold !important;
    cursor: pointer;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    li {
        display: inline;
        padding: 0.5em 1em;
        .a,
        a {
            font-size: larger;
            font-weight: bolder;
            text-decoration: none;
        }
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}
